<div class="container">
    <h1 class="mt-3  text-center">Websites config to be searched</h1>
      <div class="form-group">
        <textarea id="config-input" rows="4" cols="200">{{data}}</textarea>
       </div>
      <button onClick="submit()" type="submit" style="margin-top:20px; padding:5px; cursor:pointer" class="btn btn-primary mt-2">Update Config</button>
  </div>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"> </script>
  <script>
    function submit(){
        let data = document.getElementById('config-input').value
        $.ajax(
              {
                type:'POST',
                contentType:'application/json;charset-utf-08',
                dataType:'json',
                data: JSON.stringify({data: data, token: 'cx34Sdl58Bhg9'}),
                url: "./updateConfig",
                success:function (data) {
                  console.log( data ); 
                  alert('Data Updated Successfully')
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) { 
                alert("Status: " + textStatus); alert("Error: " + errorThrown);
                }
              } 
          );
    }
  </script>